<app-toolbar-navigation></app-toolbar-navigation>

<div class="grid">
  <div class="col-12">
    <h3
      class="text-center text-4xl font-medium text-indigo-700 fadeinleft animation-duration-2000 mt-5"
      *ngIf="userName"
    >
      Bem vindo de volta <span class="text-indigo-600">{{ userName }}</span
      >!
    </h3>

    <!-- GRÁFICO DE PRODUTOS EM ESTOQUE -->
    <p-card
      header="Produtos em estoque"
      styleClass="shadow-3 m-5 text-indigo-800"
    >
      <p-chart
        type="bar"
        [data]="productsChartDatas"
        [options]="productsChartOptions"
      ></p-chart>
    </p-card>
  </div>
</div>
