<app-toolbar-navigation></app-toolbar-navigation>

<div class="grid">
  <div class="col-12">
    <p-card
      styleClass="shadow-3 m-5 text-indigo-800"
      header="Produtos em estoque"
    >
      <p-table
        #productsTable
        [value]="productsDatas"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['name', 'amount']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="productSelected"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} produtos"
        [showCurrentPageReport]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name" style="width: 50%">
              Nome
              <p-columnFilter
                type="text"
                field="name"
                display="menu"
              ></p-columnFilter>
            </th>
            <th pSortableColumn="amount" style="width: 50%">
              Quantidade
              <p-columnFilter
                type="text"
                field="amount"
                display="menu"
              ></p-columnFilter>
            </th>
            <th>
              <p-button
                styleClass="p-button-success"
                icon="pi pi-plus"
                label="Adicionar"
                (onClick)="handleProduct(addProductAction)"
              ></p-button>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product?.name }}</td>
            <td>{{ product?.amount }}</td>
            <td>
              <div
                class="flex justify-content-center gap-3 align-content-center align-items-center"
              >
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-warning"
                  (click)="handleProduct(editProductAction, product?.id)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>
