<div class="card flex flex-column md:flex-collumn gap-3">
  <!-- Nome do produto -->
  <input pInputText placeholder="Nome" />

  <!-- Categoria do produto -->
  <p-dropdown
    styleClass="w-full"
    [options]="categoriesDatas"
    [(ngModel)]="selectedCategory"
    optionLabel="name"
    optionValue="id"
    placeholder="Selecione uma categoria"
  ></p-dropdown>

  <!-- Preço do produto -->
  <input type="text" pInputText placeholder="Preço" />

  <!-- Descrição do produto -->
  <input type="text" pInputText placeholder="Descrição" />

  <!-- Foto do produto -->
  <input type="file" pInputText placeholder="Foto" />

  <!-- Quantidade -->
  <input type="number" pInputText placeholder="Quantidade" />

  <div
    class="flex flex-row justify-content-center align-content-center align-items-center"
  >
    <p-button label="Concluir"></p-button>
  </div>
</div>
